<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Изменить рецепт</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
</head>
<body>

Изменить рецепт
<br />
<br />
[% form %]
<br />
<a href="[% c.uri_for( '/index' ).path_query %]">Или назад к списку блюд</a>
</body>
</html>
